html, body {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

.slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.navigation__links__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  direction: rtl;
  position: fixed;
  top: 20%;
  right: -20%;
  z-index: 20;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes navigation-show-animation {
  from {
    right: -20%;
  }
  to {
    right: 6%;
  }
}
@keyframes navigation-show-animation {
  from {
    right: -20%;
  }
  to {
    right: 6%;
  }
}
@-webkit-keyframes navigation-hide-animation {
  from {
    right: 6%;
  }
  to {
    right: -20%;
  }
}
@keyframes navigation-hide-animation {
  from {
    right: 6%;
  }
  to {
    right: -20%;
  }
}
@media (max-width: 900px) {
  .navigation__links__content {
    width: 60%;
    direction: ltr;
    top: 7%;
    left: 20%;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .navigation__links__content {
    width: 90%;
    top: 6%;
    left: 5%;
  }
}
.navigation__links__content a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  direction: ltr;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  outline: none;
}
@media (max-width: 900px) {
  .navigation__links__content a {
    margin-bottom: 0px;
    padding: 10px 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 500px) {
  .navigation__links__content a {
    margin-bottom: 0px;
    padding: 8px 15px;
  }
}
.navigation__links__content a span {
  font-family: "montserrat-regular", Courier, monospace;
  font-size: 20px;
  color: #272727;
  padding-right: 18px;
  padding-left: 10px;
}
@media (max-width: 900px) {
  .navigation__links__content a span {
    display: none;
  }
}
.navigation__links__content a i {
  color: #272727;
  font-size: 30px;
}
@media (max-width: 900px) {
  .navigation__links__content a i {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .navigation__links__content a i {
    font-size: 14px;
  }
}

#home {
  background-color: #ddd;
}

.home__header {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.home__header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 18px;
  background-color: #FC7326;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 50px;
}
@media (max-width: 900px) {
  .home__header {
    display: none;
  }
}

.home__content {
  width: 90%;
  margin: 15% auto;
}
@media (max-width: 900px) {
  .home__content {
    width: 90%;
    margin: 30% auto;
  }
}
@media (max-width: 500px) {
  .home__content {
    width: 80%;
    margin: 34% auto;
  }
}
.home__content .home__content__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat-bold", Courier, monospace;
  font-size: 70px;
  margin-bottom: 2%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 900px) {
  .home__content .home__content__title {
    font-size: 38px;
  }
}
@media (max-width: 500px) {
  .home__content .home__content__title {
    font-size: 50px;
    display: block;
    margin-bottom: 6%;
  }
}
.home__content .home__content__title span {
  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;
  position: relative;
  top: 80px;
  opacity: 0;
  -webkit-animation-name: movingSpans;
          animation-name: movingSpans;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 500px) {
  .home__content .home__content__title span {
    display: block;
  }
}
@-webkit-keyframes movingSpans {
  from {
    top: 80px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes movingSpans {
  from {
    top: 80px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.home__content .home__content__subtitle {
  text-align: center;
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 26px;
  overflow: hidden;
  padding: 10px 0;
}
.home__content .home__content__subtitle span {
  position: relative;
  top: 80px;
  opacity: 0;
  -webkit-animation-name: movingSpans;
          animation-name: movingSpans;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 900px) {
  .home__content .home__content__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .home__content .home__content__subtitle {
    font-size: 14px;
    line-height: 22px;
  }
}
.home__content .moving__span__1 {
  -webkit-animation-delay: 1;
          animation-delay: 1;
}
.home__content .moving__span__2 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.home__content .moving__span__3 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.home__content .moving__span__4 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.home__content .moving__span__5 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.home__content .moving__span__6 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.home__footer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  bottom: 5%;
  left: 42%;
}
@media (max-width: 900px) {
  .home__footer {
    left: 36%;
  }
}
@media (max-width: 500px) {
  .home__footer {
    left: 24%;
  }
}
.home__footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 20px;
}
@media (max-width: 900px) {
  .home__footer span {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .home__footer span {
    font-size: 13px;
  }
}
.home__footer a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
@-webkit-keyframes movingArrow {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}
@keyframes movingArrow {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}
.home__footer a i {
  font-size: 40px;
  color: #272727;
  position: relative;
  top: 0px;
}
.home__footer a i:hover {
  -webkit-animation-name: movingArrow;
          animation-name: movingArrow;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media (max-width: 900px) {
  .home__footer a i {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .home__footer a i {
    font-size: 20px;
  }
}

#aboutme {
  background-image: linear-gradient(#272727 60%, #ffffff 40%);
}

.aboutme__content {
  width: 60%;
  margin-top: 10%;
  margin-left: 10%;
}
@media (max-width: 900px) {
  .aboutme__content {
    width: 80%;
    margin: 0% auto;
    margin-top: 20%;
  }
}
@media (max-width: 500px) {
  .aboutme__content {
    width: 90%;
    margin: 0% auto;
    margin-top: 30%;
  }
}
.aboutme__content .aboutme__content__description {
  width: 100%;
}
.aboutme__content .aboutme__content__description h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: "montserrat-bold", Courier, monospace;
  font-size: 20px;
  color: #ffffff;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__description h2 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__description h2 {
    font-size: 14px;
  }
}
.aboutme__content .aboutme__content__description p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: "montserrat-regular", Courier, monospace;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
  line-height: 40px;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__description p {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__description p {
    font-size: 14px;
    line-height: 25px;
  }
}
.aboutme__content .aboutme__content__skills {
  background-color: #fafafa;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 8%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__skills {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__skills {
    margin-top: 15%;
  }
}
.aboutme__content .aboutme__content__skills__display {
  width: 30%;
  height: 300px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-right: 1px solid #cccccc;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__skills__display {
    height: 260px;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__skills__display {
    height: 200px;
  }
}
.aboutme__content .aboutme__content__skills__display:last-child {
  border-right: 0;
}
.aboutme__content .aboutme__content__skills__display figure {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5%;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__skills__display figure {
    margin-bottom: 8%;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__skills__display figure {
    font-size: 14px;
  }
}
.aboutme__content .aboutme__content__skills__display figure i {
  font-size: 30px;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__skills__display figure i {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__skills__display figure i {
    font-size: 14px;
  }
}
.aboutme__content .aboutme__content__skills__display h6 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 15%;
  font-family: "montserrat-bold", Courier, monospace;
  font-size: 20px;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__skills__display h6 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__skills__display h6 {
    font-size: 14px;
  }
}
.aboutme__content .aboutme__content__skills__display ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.aboutme__content .aboutme__content__skills__display ul li {
  text-align: center;
  margin-bottom: 25%;
  font-family: "montserrat-regular", Courier, monospace;
  font-size: 18px;
  color: #272727;
}
@media (max-width: 900px) {
  .aboutme__content .aboutme__content__skills__display ul li {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .aboutme__content .aboutme__content__skills__display ul li {
    font-size: 14px;
  }
}

#projects {
  background-color: #ddd;
}

.projects__content {
  width: 80%;
  margin-top: 5%;
  margin-left: 5%;
}
@media (max-width: 900px) {
  .projects__content {
    width: 90%;
    margin: 5% auto;
    margin-top: 18%;
  }
}
@media (max-width: 500px) {
  .projects__content {
    margin-top: 25%;
  }
}
.projects__content .projects__content__title {
  width: 90%;
  margin: 5% auto;
}
.projects__content .projects__content__title h2 {
  text-align: center;
  font-family: "montserrat-bold", Courier, monospace;
  font-size: 20px;
  color: #272727;
}
@media (max-width: 900px) {
  .projects__content .projects__content__title h2 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__title h2 {
    font-size: 14px;
  }
}
.projects__content .projects__content__slideshow {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.projects__content .projects__content__slideshow::-webkit-scrollbar {
  display: none;
}
.projects__content .projects__content__slideshow__slides {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-shrink: 0;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides {
    flex-wrap: wrap;
  }
}
.projects__content .projects__content__slideshow__slides__description {
  width: 30%;
}
.projects__content .projects__content__slideshow__slides__description h4 {
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 20px;
  color: #272727;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__description h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__slideshow__slides__description h4 {
    font-size: 14px;
  }
}
.projects__content .projects__content__slideshow__slides__description h6 {
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 20px;
  color: #272727;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__description h6 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__slideshow__slides__description h6 {
    font-size: 14px;
  }
}
.projects__content .projects__content__slideshow__slides__description p {
  text-align: justify;
  font-family: "montserrat-light", Courier, monospace;
  font-size: 20px;
  color: #272727;
  line-height: 28px;
  margin: 20px 0;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__description p {
    display: none;
  }
}
.projects__content .projects__content__slideshow__slides__description a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 18px;
  background-color: #FC7326;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 50px;
  outline: none;
}
.projects__content .projects__content__slideshow__slides__description a:hover {
  background-color: #fb5f04;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__description a {
    margin: 10px auto;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__slideshow__slides__description a {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__description {
    width: 100%;
    order: 2;
  }
}
.projects__content .projects__content__slideshow__slides__sample {
  width: 68%;
  height: 600px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}
.projects__content .projects__content__slideshow__slides__sample div:first-child {
  border-bottom: 2px solid #ddd;
  width: 100%;
  height: 5%;
}
.projects__content .projects__content__slideshow__slides__sample div:first-child span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  margin-top: 8px;
  background-color: #272727;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__sample div:first-child span {
    width: 12px;
    height: 12px;
    margin-left: 12px;
    margin-top: 6px;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__slideshow__slides__sample div:first-child span {
    width: 8px;
    height: 8px;
    margin-left: 10px;
    margin-top: 5px;
  }
}
.projects__content .projects__content__slideshow__slides__sample div:last-child {
  width: 100%;
  height: 95%;
}
.projects__content .projects__content__slideshow__slides__sample div:last-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 900px) {
  .projects__content .projects__content__slideshow__slides__sample {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
    order: 1;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__slideshow__slides__sample {
    height: 350px;
  }
}
.projects__content .projects__content__controls {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .projects__content .projects__content__controls {
    margin-top: 20px;
  }
}
.projects__content .projects__content__controls button {
  width: 40px;
  height: 15px;
  margin: 0 10px;
  border-radius: 50px;
  background-color: #272727;
  border: none;
}
@media (max-width: 900px) {
  .projects__content .projects__content__controls button {
    width: 35px;
    height: 12px;
    margin: 0 12px;
  }
}
@media (max-width: 500px) {
  .projects__content .projects__content__controls button {
    width: 30px;
    height: 10px;
    margin: 0 15px;
  }
}

#references {
  background-color: #ddd;
}

.references__content {
  width: 80%;
  margin: 0px auto;
  margin-top: 6%;
}
@media (max-width: 900px) {
  .references__content {
    width: 90%;
    margin: 0 auto;
    margin-top: 25%;
  }
}
@media (max-width: 500px) {
  .references__content {
    margin-top: 35%;
  }
}
.references__content .references__content__title {
  width: 90%;
  margin: 5% auto;
}
.references__content .references__content__title h2 {
  text-align: center;
  font-family: "montserrat-bold", Courier, monospace;
  font-size: 20px;
  color: #272727;
}
@media (max-width: 900px) {
  .references__content .references__content__title h2 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .references__content .references__content__title h2 {
    font-size: 14px;
  }
}
.references__content .references__content__slideshow {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: none;
  align-items: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.references__content .references__content__slideshow::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .references__content .references__content__slideshow {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 900px) {
  .references__content .references__content__slideshow {
    width: 100%;
    margin-bottom: 30px;
  }
}
.references__content .references__content__slideshow__slides {
  width: 100%;
  flex-shrink: 0;
}
@media (max-width: 900px) {
  .references__content .references__content__slideshow__slides {
    flex-wrap: wrap;
  }
}
.references__content .references__content__slideshow__slides figure {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
@media (max-width: 900px) {
  .references__content .references__content__slideshow__slides figure {
    font-size: 60px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .references__content .references__content__slideshow__slides figure {
    font-size: 40px;
    margin-bottom: 15px;
  }
}
.references__content .references__content__slideshow__slides p {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  line-height: 30px;
  color: #272727;
  font-family: "montserrat-regular", Courier, monospace;
  font-size: 20px;
}
@media (max-width: 900px) {
  .references__content .references__content__slideshow__slides p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 25px;
  }
}
@media (max-width: 500px) {
  .references__content .references__content__slideshow__slides p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
  }
}
.references__content .references__content__slideshow__slides hgroup {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #272727;
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 20px;
}
@media (max-width: 900px) {
  .references__content .references__content__slideshow__slides hgroup {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .references__content .references__content__slideshow__slides hgroup {
    font-size: 14px;
  }
}
.references__content .references__content__controls {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}
.references__content .references__content__controls button {
  width: 40px;
  height: 15px;
  margin: 0 10px;
  border-radius: 50px;
  background-color: #272727;
  border: none;
}
@media (max-width: 900px) {
  .references__content .references__content__controls button {
    width: 35px;
    height: 12px;
    margin: 0 12px;
  }
}
@media (max-width: 500px) {
  .references__content .references__content__controls button {
    width: 30px;
    height: 10px;
    margin: 0 15px;
  }
}

.references__footer {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-image: url("../images/wave.svg");
  background-size: cover;
}
@media (max-width: 900px) {
  .references__footer {
    height: 25%;
  }
}
.references__footer__content {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .references__footer__content {
    width: 90%;
    margin: 0 auto;
  }
}
.references__footer__content h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 80px;
  color: #272727;
  font-family: "montserrat-medium", Courier, monospace;
  font-size: 20px;
}
@media (max-width: 900px) {
  .references__footer__content h4 {
    font-size: 18px;
    margin-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .references__footer__content h4 {
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.references__footer__content__social__media {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.references__footer__content__social__media a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272727;
  font-size: 30px;
}
@media (max-width: 900px) {
  .references__footer__content__social__media a {
    font-size: 20px;
  }
}
.references__footer__content address {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #272727;
  font-family: "montserrat-regular", Courier, monospace;
  font-size: 20px;
}
@media (max-width: 900px) {
  .references__footer__content address {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .references__footer__content address {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */