
@import "./variables.scss";

@import "./mixins.scss";

html, body{
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $color-primary;
}

.slides{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#home{
    background-color: #ddd;
}

.home__header{
    @include container90(5%);
    @include displayFlex(flex-end, right);

    a{
        @include displayFlex(center, center);
        font-family: $font-medium;
        font-size: map-get($font-buttons-size, desktop);
        background-color: $color-secondary;
        color: $color-primary;
        padding: 8px 20px;
        border-radius: 50px;
    }

    @media (max-width: map-get($width-dimensions, tablet)) {
        display: none;
    }
}

.home__content{
    @include container90(15%);

    @media (max-width: map-get($width-dimensions, tablet)) {
        @include container90(30%);
    }

    @media (max-width: map-get($width-dimensions, phone)) {
        @include container80(34%);
    }

    #{&}__title {
        width: 100%;
        @include displayFlex(center, center);
        font-family: $font-bold;
        font-size: map-get($font-title-size, desktop);
        margin-bottom: 2%;
        position: relative;
        overflow: hidden;

        @media (max-width: map-get($width-dimensions, tablet)) {
            font-size: map-get($font-title-size, tablet);
            
        }

        @media (max-width: map-get($width-dimensions, phone)) {
            font-size: map-get($font-title-size, phone);
            display: block;
            margin-bottom: 6%;
        }

        span{
            display: inline-block;
            padding: 10px 0;
            margin: 0 10px;
            
            @include movingSpansStyles();

            @media (max-width: map-get($width-dimensions, tablet)) {
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                display: block;
            }
        }
    }

    @include movingTopBottom(movingSpans, 80px, 0px);

    #{&}__subtitle{
        text-align: center;
        font-family: $font-medium;
        font-size: map-get($font-subtitle-size, desktop);
        overflow: hidden;
        padding: 10px 0;

        span{
            @include movingSpansStyles();
        }

        @media (max-width: map-get($width-dimensions, tablet)) {
            font-size: map-get($font-subtitle-size, tablet);
        }

        @media (max-width: map-get($width-dimensions, phone)) {
            font-size: map-get($font-subtitle-size, phone);
            line-height: 22px;
        }

    }

    $moving-span-list: 1, 2, 3, 4, 5, 6;
    $counter : 1;
    @each $i in $moving-span-list {
        .moving__span__#{$i}{
            animation-delay: $counter;
        }
        $counter: $counter + 0.2s;
    }
    
}

.home__footer{
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 5%;
    left: 42%;

    @media (max-width: map-get($width-dimensions, tablet)) {
       left: 36%;
    }
    @media (max-width: map-get($width-dimensions, phone)) {
        left: 24%;
     }

    span{
        @include displayFlex(center, center);
        font-family: $font-medium;
        font-size: map-get($font-arrow-text-size, desktop);

        @media (max-width: map-get($width-dimensions, tablet)) {
            font-size: map-get($font-arrow-text-size, tablet);
        }
        @media (max-width: map-get($width-dimensions, phone)) {
            font-size: map-get($font-arrow-text-size, phone);
        }
    }

    a{
        @include fitContents(true, 0);
        @include displayFlex(center, center);
        
        margin-top: 10px;
        position: relative;
        overflow: hidden;

        @include movingTopBottom(movingArrow, 0px, 10px);
    
        i{
            font-size: map-get($font-arrow-size, desktop);
            color: $color-terciary;
            position: relative;
            top: 0px;
        
            &:hover{
                animation-name: movingArrow;
                animation-iteration-count: infinite;
                animation-duration: 0.5s;
            }

            @media (max-width: map-get($width-dimensions, tablet)) {
                font-size: map-get($font-arrow-size, tablet);
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                font-size: map-get($font-arrow-size, phone);
            }
        
        }
    
    }

}


#aboutme{
    background-image: linear-gradient($color-terciary 60%, $color-primary 40%);
}
.aboutme__content{
    width: 60%;
    margin-top: 10%;
    margin-left: 10%;
    
    @media (max-width: map-get($width-dimensions, tablet)) {
        @include container80(0%);
        margin-top: 20%;
    }

    @media (max-width: map-get($width-dimensions, phone)) {
        @include container90(0%);
        margin-top: 30%;
    }

    #{&}__description{
        width: 100%;

        h2{
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 25px;
            font-family: $font-bold;
            font-size: map-get($font-text-size, desktop);
            color: $color-primary;

            @media (max-width: map-get($width-dimensions, tablet)) {
                font-size: map-get($font-text-size, tablet);
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                font-size: map-get($font-text-size, phone);
            }
        }

        p{
            @include container80(0);
            margin-bottom: 25px;
            font-family: $font-regular;
            font-size: map-get($font-text-size, desktop);
            color: $color-primary;
            text-align: justify;
            line-height: 40px;

            @media (max-width: map-get($width-dimensions, tablet)) {
                @include container90(0);
                font-size: map-get($font-text-size, tablet);
                line-height: 30px;
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                font-size: map-get($font-text-size, phone);
                line-height: 25px;
            }
        }

    }

    #{&}__skills{
        background-color: #fafafa;
        border-radius: 8px;
        @include container90(0);
        @include displayFlex(flex-start, space-around);
        margin-top: 8%;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);

        @media (max-width: map-get($width-dimensions, tablet)) {
            width: 100%;
        }
        @media (max-width: map-get($width-dimensions, phone)) {
            margin-top: 15%;
        }

        &__display{
            width: 30%;
            height: 300px;
            margin-top: 5%;
            margin-bottom: 5%;
            border-right: 1px solid #cccccc;

            @media (max-width: map-get($width-dimensions, tablet)) {
                height: 260px;
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                height: 200px;
            }

            &:last-child{
                border-right: 0;
            }

            figure{
                display: block;
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 5%;

                @media (max-width: map-get($width-dimensions, tablet)) {
                    margin-bottom: 8%;
                }
    
                @media (max-width: map-get($width-dimensions, phone)) {
                    font-size: map-get($font-icon-size, phone);
                }

                i{ 
                    font-size: map-get($font-icon-size, desktop); 

                    @media (max-width: map-get($width-dimensions, tablet)) {
                        font-size: map-get($font-icon-size, tablet);
                    }
        
                    @media (max-width: map-get($width-dimensions, phone)) {
                        font-size: map-get($font-icon-size, phone);
                    }
                }
            }

            h6{
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 15%;
                font-family: $font-bold;
                font-size: map-get($font-text-size, desktop);

                @media (max-width: map-get($width-dimensions, tablet)) {
                    font-size: map-get($font-text-size, tablet);
                }
    
                @media (max-width: map-get($width-dimensions, phone)) {
                    font-size: map-get($font-text-size, phone);
                }
            }

            ul{
                width: fit-content;
                margin: 0 auto;

                li{
                    text-align: center;
                    margin-bottom: 25%;
                    font-family: $font-regular;
                    font-size: map-get($font-text-size, tablet);
                    color: $color-terciary;

                    @media (max-width: map-get($width-dimensions, tablet)) {
                        font-size: map-get($font-text-size, tablet);
                    }
        
                    @media (max-width: map-get($width-dimensions, phone)) {
                        font-size: map-get($font-text-size, phone);
                    }
                }
            }

        }

    }

}


#projects{
    background-color: #ddd;
}

.projects__content{
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;

    @media (max-width: map-get($width-dimensions, tablet)) {
        @include container90(5%);
        margin-top: 18%;
    }

    @media (max-width: map-get($width-dimensions, phone)) {
        margin-top: 25%;
    }

    #{&}__title{
        @include container90(5%);

        h2{
            text-align: center;
            font-family: $font-bold;
            font-size: map-get($font-text-size, desktop);
            color: $color-terciary;

            @media (max-width: map-get($width-dimensions, tablet)) {
                font-size: map-get($font-text-size, tablet);
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                font-size: map-get($font-text-size, phone);
            }
        }
    }

    #{&}__slideshow{
        width: 100%;
        @include displayFlex(none, none);
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: 0;

        &::-webkit-scrollbar{
            display: none;
        }

        &__slides{
            width: 100%;
            @include displayFlex(flex-start, space-between);
            flex-shrink: 0;

            @media (max-width: map-get($width-dimensions, tablet)) {
                flex-wrap: wrap;
            }

            &__description{
                width: 30%;

                h4{
                    font-family: $font-medium;
                    font-size: map-get($font-text-size, desktop);
                    color: $color-terciary;
                    margin-bottom: 10px;

                    @media (max-width: map-get($width-dimensions, tablet)) {
                        margin-bottom: 20px;
                        text-align: center;
                        font-size: map-get($font-text-size, tablet);
                    }

                    @media (max-width: map-get($width-dimensions, phone)) {
                        font-size: map-get($font-text-size, phone);
                    }
                }

                h6{
                    font-family: $font-medium;
                    font-size: map-get($font-text-size, desktop);
                    color: $color-terciary;
                    
                    @media (max-width: map-get($width-dimensions, tablet)) {
                        margin-bottom: 20px;
                        text-align: center;
                        font-size: map-get($font-text-size, tablet);
                    }

                    @media (max-width: map-get($width-dimensions, phone)) {
                        font-size: map-get($font-text-size, phone);
                    }

                }

                p{
                    text-align: justify;
                    font-family: $font-light;
                    font-size: map-get($font-text-size, desktop);
                    color: $color-terciary;
                    line-height: 28px;
                    margin: 20px 0;

                    @media (max-width: map-get($width-dimensions, tablet)) {
                        display: none;
                    }
                }

                a{
                    width: fit-content;
                    @include displayFlex(center, center);
                    font-family: $font-medium;
                    font-size: map-get($font-buttons-size, desktop);
                    background-color: $color-secondary;
                    color: $color-primary;
                    padding: 8px 20px;
                    border-radius: 50px;
                    outline: none;
                    
                    &:hover{
                        background-color: #fb5f04;
                    }

                    @media (max-width: map-get($width-dimensions, tablet)) {
                        margin: 10px auto;
                        font-size: map-get($font-text-size, tablet);
                    }

                    @media (max-width: map-get($width-dimensions, phone)) {
                        font-size: map-get($font-text-size, phone);
                    }
                }

                @media (max-width: map-get($width-dimensions, tablet)) {
                    width: 100%;
                    order: 2;
                }

            }

            &__sample{
                width: 68%;
                height: 600px;
                background-color: $color-primary;
                border-radius: 4px;
                overflow: hidden;

                div:first-child{
                    border-bottom: 2px solid #ddd;
                    width: 100%;
                    height: 5%;

                    span{
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 15px;
                        margin-top: 8px;
                        background-color: $color-terciary;
                        border-radius: 50%;

                        @media (max-width: map-get($width-dimensions, tablet)) {
                            width: 12px;
                            height: 12px;
                            margin-left: 12px;
                            margin-top: 6px;
                        }

                        @media (max-width: map-get($width-dimensions, phone)) {
                            width: 8px;
                            height: 8px;
                            margin-left: 10px;
                            margin-top: 5px;
                        }
                    }

                }

                div:last-child{
                    width: 100%;
                    height: 95%;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit:fill;
                    }
                }

                @media (max-width: map-get($width-dimensions, tablet)) {
                    width: 100%;
                    height: 450px;
                    margin-bottom: 20px;
                    order: 1;
                }

                @media (max-width: map-get($width-dimensions, phone)) {
                    height: 350px;
                }

            }

        }

    }

    #{&}__controls{
        width: fit-content;
        margin: 0px auto;
        margin-top: 30px;

        button{
            width: 40px;
            height: 15px;
            margin: 0 10px;
            border-radius: 50px;
            background-color: $color-terciary;
            border: none;

            @media (max-width: map-get($width-dimensions, tablet)) {
                width: 35px;
                height: 12px;
                margin: 0 12px;
            }

            @media (max-width: map-get($width-dimensions, phone)) {
                width: 30px;
                height: 10px;
                margin: 0 15px;
            }
        }

        @media (max-width: map-get($width-dimensions, phone)) {
            margin-top: 20px;
        }

    }

}


