
@import "./variables.scss";

@import "./mixins.scss";

html, body{
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $color-primary;
}

.slides{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


@import "./navigationlinks.scss";

@import "./home.scss";

@import "./aboutme.scss";

@import "./projects.scss";

@import "./references.scss";


